@charset "utf-8";

html { font-size: 16px; }

/* box-sizing setting */
*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  line-height: normal;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background: rgb(233, 168, 227);
  overflow: hidden;
}

p { margin: 0; padding: 0; }

/* Header */
header {
  margin-top: 8px;
  color: rgb(255, 251, 0);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: rgb(71, 71, 71);
}

/* Game Wrapper */
.wrapper {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  padding-bottom: 23px;
  text-align: center;
}

/* Game Container */
.game-container { padding: 48px 0; }

/* Message Area */
.message-container {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  overflow: hidden;
}

.js-hidden { display: none; }

/* Squares Container */
.squares-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 200px;
}

.squares-box {
  width: 200px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  border: solid 2px #333;
}

.square {
  position: relative;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border: solid 2px #333;
}

/* Button Style */
.btn {
  margin-top: 8px;
  padding: 12px;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 14px;
  background: rgb(24, 212, 212);
  user-select: none;
  cursor: pointer;
}

/* Back Button */
.back { margin-top: 8px; text-align: left; }

/* Footer */
footer > p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  margin: 0px;
  padding: 1px;
  color: whitesmoke;
  font: 16px Rajdhani;
  text-align: center;
  background: rgba(1, 24, 31, 0.7);
}

/* Game Pieces */

/* penguins */
.js-pen-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: "";
  background-image: url(../img/penguins.jpg);
  background-size: contain;
}

/* bear */
.js-bear-checked::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  content: "";
  background-image: url(../img/whitebear.jpg);
  background-size: contain;
}

/* protect: disable clicks */
.js-unclickable { pointer-events: none; }

/* Winner-line highlight */
.js-pen_highLight { border: solid 2px red; }
.js-bear_highLight { border: solid 2px blue; }

/* Media Query responsive setting */
@media screen and (max-width: 480px) {
  .wrapper { padding-bottom: 23px; }
  .btn-container { padding-top: 2px; }
}
/* New Game button */
.btn-container {
  padding-top: 40px;
}

#btn90:hover {
  background-color: #ffd347;
  transition-duration: 0.4s;
}

/* hide */
.js-hidden {
  display: none;
}
